<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Parcelle Forestiere : Create</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Liste des essences</h1>
			<div class="container">
				<div class="pull-right">
					<a href="addforest.html" th:href="@{/forest/essenceadd}">Créer une essence</a>
				</div>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Numero</td>
							<td>Modifier</td>
						</tr>
					</thead>
					<tbody>
						
						<tr th:each="essence : ${essences}">
							<td th:text="${essence.id}">1</td>							
							<td><a href="view.html" th:href="@{'/forest/essenceview/' + ${essence.id}}"
								th:text="${essence.nom}"> The summary </a></td>
<td><a href="view.html" th:href="@{'/forest/essencemodify/' + ${essence.id}}"
								th:text="Modifier"> The summary </a></td>
					</tbody>
				</table>
			</div>
		</div>
</body>
</html>