<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Forest List</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Forest : List</h1>
			<div class="container">
				<div class="pull-right">
					<a href="addforest.html" th:href="@{/forest/forestadd}">Create a new Forest</a>
				</div>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Name</td>
							<td>Modify</td>
							<td>Ajouter une parcelle forestière</td>
						</tr>
					</thead>
					<tbody>
						
						<tr th:each="forest : ${forests}">
							<td th:text="${forest.id}">1</td>
							
							<td><a href="view.html" th:href="@{'/forest/forestview/' + ${forest.id}}"
								th:text="${forest.name}"> The summary </a></td>
							<td><a href="view.html" th:href="@{'/forest/forestmodify/' + ${forest.id}}"
								th:text="${forest.name}"> The summary </a></td>
							<td><a href="addforest.html" th:href="@{/forest/forestareaassignparfor/}  + ${forest.id}">Ajouter</a> 
							 </a></td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</body>
</html>