<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Parcelle Cadastrale : Create</title>
	</head>
	<body>
			
		<div class="container">
				<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Messages : Create</h1>
			<form id="parcellecadastraleForm"  th:object="${forest}"
				th:action="@{/forest/forestadd}" method="post" action="#">

				<div class="pull-right">
					<a th:href="@{/forest/listall}" href="fodsqdqsrest.html"> Messages </a>
				</div>
				 <label	for="fordsqdsqest">Nouvelle Forest</label> <input type="text" th:field="*{name}"	 /> 
					
				<div class="form-actions">
					<input type="submit" value="Save" />
				</div>
			</form>
		</div>
	</body>
</html>
