<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="container">
			<div th:fragment="navbar" class="navbar">
				<div class="navbar-inner">					
					<ul class="nav">
						<li><a th:href="@{/forest/forestlist}" href="messages.html">Liste des forêts</a></li>
						<!-- <li><a th:href="@{/forest/add?name=test}" href="forest.html"> Ajouer une forï¿½t via url </a></li> 
						<li><a th:href="@{/forest/addforest}" href="forest.html"> Ajouer un forï¿½t via formulaire </a></li>-->
						<li><a th:href="@{/forest/peuplementlist}" href="forest.html"> Liste des peuplements </a></li>
						<li><a th:href="@{/forest/parcellecadastralelist}" href="forest.html"> Liste des parcelles Cadatrales </a></li>
						<li><a th:href="@{/forest/parcelleforestierelist}" href="forest.html"> Liste des parcelles Forestieres </a></li>
						<li><a th:href="@{/forest/typepeuplementlist}" href="forest.html"> Liste des types de peuplement </a></li>
						<li><a th:href="@{/forest/stationforestierelist}" href="forest.html"> Liste des stations foretiï¿½res </a></li>	
						<li><a th:href="@{/forest/operationsylvicolelist}" href="forest.html"> Liste des opï¿½rations sylvicole </a></li>							
						<li><a th:href="@{/forest/programmationlist}" href="forest.html"> Liste des programmations </a></li>									
						<li><a th:href="@{/forest/dataloader}" href="forest.html">Data Loader </a></li>
					</ul>
				</div>
			</div>
		</div>
		

	</body>
</html>
