<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="container">
			<div th:fragment="navbar" class="navbar">
				<div class="navbar-inner">					
					<ul class="nav">
						<li><a th:href="@{/forest/forestlist}" href="messages.html">Liste des forêts</a></li>				
						<li><a th:href="@{/forest/peuplementlist}" href="forest.html"> Liste des peuplements </a></li>
						<li><a th:href="@{/forest/parcellecadastralelist}" href="forest.html"> Liste des parcelles Cadatrales </a></li>
						<li><a th:href="@{/forest/parcelleforestierelist}" href="forest.html"> Liste des parcelles Forestieres </a></li>
						<li><a th:href="@{/forest/typepeuplementlist}" href="forest.html"> Liste des types de peuplement </a></li>
						<li><a th:href="@{/forest/essencelist}" href="forest.html"> Liste des types des essences </a></li>
						<li><a th:href="@{/forest/stationforestierelist}" href="forest.html"> Liste des stations foretières </a></li>	
						<li><a th:href="@{/forest/operationsylvicolelist}" href="forest.html"> Liste des opérations sylvicole </a></li>							
						<li><a th:href="@{/forest/typetravauxlist}" href="forest.html">Type de travaux</a></li>
						<li><a th:href="@{/forest/programmationtravauxlist}" href="forest.html">Programmation des travaux </a></li>
						<li><a th:href="@{/forest/programmationcoupeslist}" href="forest.html">Programmation des coupes </a></li>	
						<li><a th:href="@{/forest/programmationlist}" href="forest.html">Programmations</a></li>								
						<li><a th:href="@{/forest/dataloader}" href="forest.html">Data Loader </a></li>
					 <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
					</ul>
				</div>
			</div>
		</div>
		

	</body>
</html>
