<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Messages : Create</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Forest : View all</h1>
			<div class="container">
				<div class="pull-left">
					<a href="addforest.html" th:href="@{/forest/operationsylvicolelist}">revenir à la liste des parcelles cadastrale</a>
				</div>
					<center><h1><a th:href ='@{/forest/operationsylvicoleview/} + ${operationsylvicole.id}' th:text="${operationsylvicole.nom}">test</a></h1></center>
			</div>
		</div>
</body>
</html>