<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Parcelle Forestiere : Create</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Liste des Parcelles Forestières</h1>
			<div class="container">
				<div class="pull-right">
					<a href="addforest.html" th:href="@{/forest/parcelleforestiereadd}">Créer une nouvelle Parcelle Forestiere</a>
				</div>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Numero</td>
							<td>Description</td>
							<td>Modifier</td>
							<td>Assigne Parcelle Cadastrale</td>
						    <td>Assigne Station Forestière</td>
						</tr>
					</thead>
					<tbody>
						
						<tr th:each="parcelleforestiere : ${parcelleforestieres}">
							<td th:text="${parcelleforestiere.id}">1</td>							
							<td><a href="view.html" th:href="@{'/forest/parcelleforestiereview/' + ${parcelleforestiere.id}}"
								th:text="${parcelleforestiere.numero}"> The summary </a></td>
							<td><a href="view.html" th:href="@{'/forest/parcelleforestiereview/' + ${parcelleforestiere.id}}"
								th:text="${parcelleforestiere.description}"> The summary </a></td>
									<td><a href="view.html" th:href="@{'/forest/parcelleforestieremodify/' + ${parcelleforestiere.id}}"
								> Modifier</a></td>
									<td><a href="view.html" th:href="@{'/forest/parforassignparcad/' + ${parcelleforestiere.id}}"
								> Assigner </a></td>
<td><a href="view.html" th:href="@{'/forest/parforassignstafor/' + ${parcelleforestiere.id}}"
								> Assigner </a></td>
					</tbody>
				</table>
			</div>
		</div>
</body>
</html>