<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Messages : Create</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Forest : View all</h1>
			<div class="container">
				<div class="pull-left">
					<a href="addforest.html" th:href="@{/forest/parcelleforestierelist}">revenir à la liste des parcelles cadastrale</a>
				</div>
					<center><h1><a th:href ='@{/forest/parcelleforestiereview/} + ${parcelleforestiere.id}' th:text="${parcelleforestiere.numero}">test</a></h1></center>
			<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Name</td>
							
						</tr>
					</thead>
					<tbody>						
						<tr th:each="parcellecadastrale : ${parcelleforestiere.parcellecadastrales}">
							<td th:text="${parcellecadastrale.id}">1</td>
							
							<td><a href="view.html" th:href="@{'/forest/parcellecadastraleview/' + ${parcellecadastrale.id}}"
								th:text="${parcellecadastrale.commune}"> The summary </a></td>
						</tr>
					</tbody>
				</table>	 
			</div>
			
		</div>
</body>
</html>