<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Parcelle Forestiere : Create</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Modification de la Parcelle Forestière</h1>
			<div class="container">
				
				
				<br />

	<form id="parcellecadastraleForm"  th:object="${parcelleforestiere}"
				th:action="@{/forest/parcelleforestieremodify}" method="post" action="#">

			
				<input type="text" th:field="*{id}"	 /> 
				
				 <label	for="fordsqdsqest">Description</label> <input type="text" th:field="*{description}"  /> <br />
				 <label	for="fordsqdsqest">Numéro</label> <input type="text" th:field="*{numero}"  /> <br />
				  <label	for="fordsqdsqest">Pente</label> <input type="text" th:field="*{pente}"  /> <br />
				  <label	for="fordsqdsqest">Exposition</label> <input type="text" th:field="*{exposition}"  /> <br />
				  <label	for="fordsqdsqest">Position</label> <input type="text" th:field="*{position}"  /> <br />
				  <label	for="fordsqdsqest">Roche</label> <input type="text" th:field="*{roche}"  /> <br />
				  <label	for="fordsqdsqest">Texture</label> <input type="text" th:field="*{texture}"  /> <br />
				  <label	for="fordsqdsqest">Profondeur</label> <input type="text" th:field="*{profondeur}"  /> <br />
		<div class="form-actions">
					<input type="submit" value="Save" />
				</div>
			</form>	
			</div>
		</div>
</body>
</html>