<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Messages : Create</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Modification de la Parcelle Cadastrale</h1>
			<div class="container">
			
						 <br />
					
					<form id="parcellecadastraleForm"  th:object="${parcellecadastrale}"
				th:action="@{/forest/parcellecadastralemodify}" method="post" action="#">

				
				<input type="text" th:field="*{id}"	 /> 
				
				 <label	for="fordsqdsqest">Commune</label> <input type="text" th:field="*{commune}"  /> <br />
			<label	for="fordsqdsqest">Section</label> <input type="text" th:field="*{section}"  /> <br />
			<label	for="fordsqdsqest">Numéro de Parcelle</label> <input type="text" th:field="*{numeroparcelle}"  /> <br />
			<label	for="fordsqdsqest">Lieu Dit</label> <input type="text" th:field="*{lieu_dit}"  /> <br />
			<label	for="fordsqdsqest">Surface</label> <input type="text" th:field="*{surface}"  /> <br />
		
			<div class="form-actions">
					<input type="submit" value="Save" />
				</div>
			</form>
							
							 
			</div>
		</div>
		
		
</body>
</html>