<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Messages : Create</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Liste des peuplements</h1>
			<div class="container">
				<div class="pull-right">
					<a href="addforest.html" th:href="@{/forest/forestadd}">Create a new Forest</a>
				</div>
				
							<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Peuplement</td>
							<td>Essence</td>
							<td>Commentaire</td>
							<td>Statut</td>
							<td>Surface</td>
							<td>Created dttm</td>
							<td>Created User</td>
							<td>Last updated dttm</td>
							<td>Last Updated user</td>
							<td>Modifier</td>
							<td>Cloturer</td>
						</tr>
					</thead>
					<tbody>						
						<tr th:each="peuplement : ${peuplements}" >
							<td th:text="${peuplement.id}">1</td>
							
							     <td><a th:href='@{/forest/typepeuplementview/} + ${peuplement.typepeuplement.id}' th:text="${peuplement.typepeuplement.nom}">test</a></td>
								<td><a th:href='@{/forest/peuplementview/} + ${peuplement.essence.id}' th:text="${peuplement.essence.nom}">test</a></td>
								<td  th:text="${peuplement.commentaire}">ttt</td>
								<td  th:text="${peuplement.status}">ttt</td>
								<td  th:text="${peuplement.surface}">ttt</td>
							    <td  th:text="${peuplement.created_dttm}">ttt</td>
							    <td  th:text="${peuplement.created_source}">ttt</td>
							    <td  th:text="${peuplement.last_updated_dttm}">ttt</td>
							    <td  th:text="${peuplement.last_updated_source}">ttt</td>
							    <td><a th:href ='@{/forest/peuplementmodify/} + ${peuplement.id}' >Modifier</a></td>
							    <td><a th:href ='@{/forest/peuplementclose/} + ${peuplement.id}' >Clôturer</a></td>
						</tr>
					</tbody>
				</table>	
				
			</div>
		</div>
</body>
</html>