<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head th:replace="menu :: head(title=~{::title/text()})">
		<title>Messages : Create</title>
	</head>
<body>
<div class="container">
			<div th:replace="menu :: navbar"></div>
						<div th:replace="forest/menuforest :: navbar"></div>
			<h1>Liste des stations forestières</h1>
			<div class="container">
				<div class="pull-right">
					<a href="addforest.html" th:href="@{/forest/stationforestiereadd}">Créer une nouvelle Station Forestière</a>
				</div>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Nom</td>
							<td>Desription</td>
							<td>Caractéristique Sol</td>
							<td>Peuplement Naturel</td>
							<td>Modifier</td>
						</tr>
					</thead>
					<tbody>
						
						<tr th:each="stationforestiere : ${stationforestieres}">
							<td th:text="${stationforestiere.id}">1</td>
							
							<td><a href="view.html" th:href="@{'/forest/stationforestiereview/' + ${stationforestiere.id}}"
								th:text="${stationforestiere.nom}"> The summary </a></td>
								
							<td><a href="view.html" th:href="@{'/forest/stationforestiereview/' + ${stationforestiere.id}}"
								th:text="${stationforestiere.description}"> The summary </a></td>
										
							<td><a href="view.html" th:href="@{'/forest/stationforestiereview/' + ${stationforestiere.id}}"
								th:text="${stationforestiere.caracteristique_sol}"> The summary </a></td>
										
							<td><a href="view.html" th:href="@{'/forest/stationforestiereview/' + ${stationforestiere.id}}"
								th:text="${stationforestiere.peuplement_naturel}"> The summary </a></td>						
							<td><a href="view.html" th:href="@{'/forest/stationforestieremodify/' + ${stationforestiere.id}}"
								th:text="Modifier"> The summary </a></td>						
						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</body>
</html>